<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.my_location.member.mapper.MemberMapper">
    <select id="selectMember" resultType="MemberVO">
        SELECT
            id, pw, name
        FROM member
        WHERE id = #{id}
    </select>
</mapper>